
{% load static %}

{% block content %}
    <h1>Upload route in file</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      Define file:
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>

    {% if success %}
    <p>Successfully uploaded routes</p>
  {% endif %}

{% endblock %}